/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); */
body,
html {
  font-family: "pretendard", sans-serif;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1392px;
  }
}

.bg-gray-6 {
  background-color: #dddddd;
}
.bg-gray-7 {
  background-color: #f8f8f8;
}

.border-color-common-2 {
  border: 1px solid #dddddd;
}

.custom-checkbox {
  height: 100%;
  display: flex;
  align-items: center;
  /* The container */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.custom-checkbox .container-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-left: 30px;
  font-size: 14px;
  line-height: 26px;
}
@media (max-width: 900px) {
  .custom-checkbox .container-checkbox {
    font-size: 11px;
    padding-left: 25px;
  }
}
.custom-checkbox .container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-checkbox .checkmark {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  background-color: #eee;
}
@media (max-width: 900px) {
  .custom-checkbox .checkmark {
    height: 15px;
    width: 15px;
  }
}
.custom-checkbox .container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.custom-checkbox .container-checkbox input:checked ~ .checkmark {
  background-color: #006e78;
}
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-checkbox .container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.custom-checkbox .container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
@media (max-width: 900px) {
  .custom-checkbox .container-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
  }
}

.font-weight-bold {
  font-weight: 700;
}

.custom-radio {
  margin-bottom: 4px;
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.custom-radio .container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
}
.custom-radio .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom-radio .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
@media (max-width: 900px) {
  .custom-radio .checkmark {
    height: 20px;
    width: 20px;
  }
}
.custom-radio .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.custom-radio .container input:checked ~ .checkmark {
  background-color: #006e78;
}
.custom-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-radio .container input:checked ~ .checkmark:after {
  display: block;
}
.custom-radio .container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
}
@media (max-width: 900px) {
  .custom-radio .container .checkmark:after {
    top: 6px;
    left: 6px;
  }
}

.txt-opacity {
  color: #666666;
  opacity: 0.7;
}

.txt-opacity-secondary {
  opacity: 0.78;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 40px;
  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translate(-50%, -50%);
}

.select2-container .select2-selection--single {
  height: 40px;
}

.select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--single,
.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__arrow,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  border-radius: 0px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f8f8f8;
  color: #282929;
}

.select2-container--default .select2-selection--single {
  border-color: #dddddd;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/icon_menu_mobile.svg");
  width: 24px;
  height: 24px;
}

.kira-title {
  font-size: 82px;
  line-height: 92px;
  color: #222222;
  font-weight: 400;
  max-width: 676px;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
@media (max-width: 900px) {
  .kira-title {
    max-width: 191px;
    font-size: 44px;
    line-height: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }
}
.kira-title span {
  font-weight: 700;
}
.kira-subtitle {
  margin-top: 40px;
  margin-bottom: 89px;
  max-width: 478px;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #222222;
}
@media (max-width: 900px) {
  .kira-subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 274px;
    font-size: 16px;
    line-height: 24px;
  }
}
.kira-btn-close {
  background-image: url(../images/x-white.svg) !important;
  background-repeat: no-repeat;
  background-color: black;
  border-radius: unset;
}
.kira-carousel-caption-a {
  position: absolute;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  top: 15%;
  left: 10%;
}
@media (max-width: 900px) {
  .kira-carousel-caption-a {
    left: 5%;
    top: 7%;
  }
}
.kira-carousel-caption-b {
  position: absolute;
  bottom: 80px;
  text-align: center;
  width: 100%;
  padding: 0 10% 5%;
  display: none;
}
@media (max-width: 1200px) {
  .kira-carousel-caption-b {
    bottom: 40px;
  }
}
@media (max-width: 576px) {
  .kira-carousel-caption-b {
    bottom: 50px;
    display: block;
    padding: 0 5%;
  }
}
@media (min-width: 1200px) {
  .kira-carousel-caption-b {
    display: block;
  }
}
.kira-carousel-indicators {
  justify-content: unset;
  margin-left: unset;
  margin-bottom: unset;
}
.kira-carousel-indicators button {
  width: 80px !important;
  height: 4px !important;
}
@media (max-width: 900px) {
  .kira-carousel-indicators button {
    width: 20px !important;
  }
}

.slider-card {
  position: relative;
  height: 280px;
  max-width: 321px;
}
.slider-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.9);
}
@media (max-width: 900px) {
  .slider-card {
    width: 156px;
    height: 136px;
    margin-bottom: 1rem;
  }
}
.slider-card .group-info {
  position: absolute;
}
.slider-card img {
  width: 84px;
}
@media (max-width: 900px) {
  .slider-card img {
    width: 60px;
  }
}
.slider-card .title-box {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}
@media (max-width: 900px) {
  .slider-card .title-box {
    font-size: 14px;
    line-height: 22px;
  }
}
.slider-card .sub-title-box {
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 900px) {
  .slider-card .sub-title-box {
    font-size: 11px;
    line-height: 16px;
  }
}

@media (min-width: 1200px) {
  nav .kira_nav {
    height: 90px;
  }
}
.collapsed-mb {
  padding-bottom: 1rem;
}

div[aria-expanded=false] img {
  transform: rotate(-90deg);
  transition: 0.5s ease;
}
div[aria-expanded=true] img {
  transform: rotate(0deg);
  transition: 0.5s ease;
}

@media (min-width: 1400px) {
  .nav-item-kira {
    width: 210px;
  }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item .nav-link::after {
    content: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */
.navbar-brand {
  z-index: 99;
  padding-left: 38px;
}
@media (max-width: 900px) {
  .navbar-brand {
    margin-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 900px) {
  .navbar-brand img {
    width: 165px;
    height: 36px;
  }
}

.depth-menu {
  display: inherit;
  visibility: hidden;
  top: 70px;
  z-index: 9;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #f8f8f8;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition-property: bottom, opacity, visibility;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.75, 0.1, 0.25, 1);
  border-top: 1px solid #dddddd;
}
@media (max-width: 992px) {
  .depth-menu {
    display: none;
  }
}
.depth-menu.open {
  bottom: -270px;
  opacity: 1;
  visibility: visible;
}
.depth-menu .submenu-block {
  padding-top: 40px;
  padding-bottom: 80px;
}
.depth-menu .submenu-block ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}
.depth-menu .submenu-block ul li {
  width: 210px;
}
.depth-menu .submenu-block ul li a {
  font-weight: 500;
  font-size: 15px;
  line-height: 34px;
  color: #444444;
  text-decoration: none;
}
.depth-menu .submenu-block ul li a:hover {
  color: #006e78;
}
.depth-menu .submenu-block ul li a.active {
  text-decoration-line: underline;
  color: #006e78 !important;
}
.depth-menu .fake-logo, .depth-menu .fake-right-content {
  opacity: 0;
}

#navbarSupportedContent {
  z-index: 99;
}

.bg-color-white {
  background-color: #ffffff;
}

.banner {
  height: 360px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
@media (max-width: 900px) {
  .banner {
    height: 180px;
  }
}
.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.banner .text-block {
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
}
.banner .text-block h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  color: #bbbbbb;
}
@media (max-width: 900px) {
  .banner .text-block h1 {
    font-size: 36px;
    line-height: 46px;
    color: #bbbbbb;
  }
}
.banner .text-block p {
  font-size: 36px;
  line-height: 46px;
  color: #ffffff;
}
@media (max-width: 900px) {
  .banner .text-block p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 900px) {
  .banner .left-55-percent {
    left: 55% !important;
  }
}

.table-list {
  margin-top: 140px;
}
@media (max-width: 900px) {
  .table-list {
    margin-top: 70px;
  }
}
.table-list .filter-block {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-list .filter-block .total-record-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #111111;
}
@media (max-width: 900px) {
  .table-list .filter-block .total-record-text {
    display: none;
  }
}
.table-list .filter-block .action-block {
  display: flex;
  align-items: center;
  justify-content: end;
}
.table-list .filter-block .action-block .dropdown-block select {
  width: 120px;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: unset;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  background-image: url("../images/icon_dropdown.svg");
  background-repeat: no-repeat;
  color: #282929;
}
@media (max-width: 900px) {
  .table-list .filter-block .action-block .dropdown-block select {
    width: 90px;
  }
}
.table-list .filter-block .action-block input {
  border: 1px solid #dddddd;
  width: 240px;
  height: 40px;
  margin-left: 8px;
  padding: 11px 0 11px 16px;
}
@media (max-width: 900px) {
  .table-list .filter-block .action-block input {
    width: 170px;
  }
}
.table-list .filter-block .action-block button {
  color: #ffffff;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #006e78;
  outline: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  border: none;
  margin-left: 8px;
}
@media (max-width: 900px) {
  .table-list .filter-block .action-block button {
    width: 60px;
  }
}
.table-list .table-custom {
  margin-top: 20px;
}
@media (max-width: 900px) {
  .table-list .table-custom {
    --bs-table-hover-bg: unset;
  }
}
.table-list .table-custom thead {
  background-color: #f8f8f8;
  height: 64px;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .table-list .table-custom thead {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #222222;
    display: inherit;
    width: 100%;
  }
}
.table-list .table-custom tbody tr {
  height: 64px;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .table-list .table-custom tbody tr {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    border-bottom: 1px solid #dddddd;
  }
}
@media (max-width: 900px) {
  .table-list .table-custom tbody tr td {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    border: none;
  }
  .table-list .table-custom tbody tr td:last-child {
    width: 100%;
  }
}
.table-list .table-custom tbody tr td.has-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #006e78;
}
@media (max-width: 900px) {
  .table-list .table-custom tbody tr td.has-text {
    font-size: 14px;
    line-height: 160%;
  }
}
.table-list .table-custom tbody tr td.has-number {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #777777;
}
@media (max-width: 900px) {
  .table-list .table-custom tbody tr td.has-number {
    font-size: 14px;
    line-height: 160%;
  }
}
.table-list .table-custom tbody tr td.has-attachment {
  position: relative;
}
.table-list .table-custom tbody tr td.has-attachment img {
  position: absolute;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.table-list .table-custom tbody tr td a {
  color: #222222;
  text-decoration: underline;
}
.table-list .table-custom tbody tr td ul {
  margin-bottom: 0;
}
.table-list .table-custom tbody tr td .btn-action {
  margin: 0 auto;
  width: 124px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  background-color: #006e78;
  text-decoration: none;
}
@media (max-width: 900px) {
  .table-list .table-custom tbody tr td .btn-action {
    width: 100px;
    height: 34px;
  }
}
.table-list .table-custom tbody .visible-on-mobile {
  display: none;
}
@media (max-width: 900px) {
  .table-list .table-custom tbody .visible-on-mobile {
    display: inline-block;
    padding-left: 8px;
  }
}
.table-list .table-custom tbody .visible-on-pc {
  display: table-cell;
}
@media (max-width: 900px) {
  .table-list .table-custom tbody .visible-on-pc {
    display: none;
  }
}
@media (max-width: 900px) {
  .table-list .table-custom tbody .display-flex-for-mobile {
    display: flex;
  }
}
@media (max-width: 900px) {
  .table-list .table-custom tbody .txt-left-for-mobile {
    text-align: left !important;
  }
}
.table-list .pagination-block {
  margin-bottom: 200px;
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .table-list .pagination-block {
    margin-bottom: 100px;
    margin-top: 70px;
  }
}
.table-list .pagination-block .page-item {
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border: none;
  border-color: #666666;
}
@media (max-width: 900px) {
  .table-list .pagination-block .page-item {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.table-list .pagination-block .page-item a {
  text-decoration: none;
}
.table-list .pagination-block .page-item .page-link {
  color: #111111;
}
.table-list .pagination-block .page-item.active .page-link {
  background-color: #666666 !important;
  opacity: 0.9;
  color: #ffffff;
  border-color: unset;
}
.table-list .pagination-block .page-item .disabled {
  pointer-events: none;
  opacity: 0.7;
}
.table-list .pagination-block .page-link-custom {
  width: 48px;
  height: 48px;
  justify-content: center;
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .table-list .pagination-block .page-link-custom {
    width: 40px;
    height: 40px;
  }
}

.list-tabs {
  background-color: #f8f8f8;
  height: 60px;
}
@media (max-width: 576px) {
  .list-tabs {
    max-width: 712px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .list-tabs::-webkit-scrollbar {
    display: none;
  }
}
.list-tabs .wrapper-list-tabs {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
@media (max-width: 900px) {
  .list-tabs .wrapper-list-tabs {
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .list-tabs .wrapper-list-tabs {
    width: 450px;
    justify-content: flex-start;
  }
}
.list-tabs .wrapper-list-tabs a {
  height: 100%;
  color: #666666;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .list-tabs .wrapper-list-tabs a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
}
@media (max-width: 576px) {
  .list-tabs .wrapper-list-tabs a {
    display: inline-flex;
    align-items: center;
    min-width: -moz-max-content;
    min-width: max-content;
  }
}
.list-tabs .wrapper-list-tabs a.active {
  color: #222222;
  position: relative;
}
.list-tabs .wrapper-list-tabs a.active::before {
  content: "";
  border-bottom: 2px solid;
  border-color: #222222;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.faq-content-block {
  margin-top: 140px;
  margin-bottom: 195px;
}
@media (max-width: 900px) {
  .faq-content-block {
    margin-top: 72px;
    margin-bottom: 120px;
  }
}
.faq-content-block .list-type {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 900px) {
  .faq-content-block .list-type {
    display: none;
  }
}
.faq-content-block .list-type a {
  border-radius: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #202020;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 24px;
  text-decoration: none;
  background-color: #ffffff;
}
.faq-content-block .list-type a.active {
  background: #006e78;
  color: #ffffff;
}
.faq-content-block .list-content {
  margin-top: 40px;
}
.faq-content-block .list-content .accordion-item:nth-child(1) {
  border-top: 2px solid;
  border-top-color: #222222;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.faq-content-block .list-content .accordion-item .accordion-button {
  height: 72px;
  align-items: center;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.faq-content-block .list-content .accordion-item .accordion-button:focus {
  border-color: unset;
  box-shadow: unset;
}
@media (max-width: 900px) {
  .faq-content-block .list-content .accordion-item .accordion-button {
    height: 56px;
    padding: 11px 0 11px 0;
  }
}
.faq-content-block .list-content .accordion-item .accordion-button .type {
  width: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}
@media (max-width: 900px) {
  .faq-content-block .list-content .accordion-item .accordion-button .type {
    width: 40px;
    font-size: 18px;
    line-height: 22px;
  }
}
.faq-content-block .list-content .accordion-item .accordion-button .question {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
}
@media (max-width: 900px) {
  .faq-content-block .list-content .accordion-item .accordion-button .question {
    font-size: 15px;
    line-height: 160%;
    width: 250px;
  }
}
.faq-content-block .list-content .accordion-item .accordion-button::after {
  background-image: url("../images/icon_arrow_down.svg");
}
.faq-content-block .list-content .accordion-item .accordion-button:not(.collapsed) {
  background-color: unset;
}
.faq-content-block .list-content .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("../images/icon_arrow_down.svg");
}
.faq-content-block .list-content .accordion-item .accordion-body {
  width: 100%;
  display: inline-flex;
  background-color: #f8f8f8;
}
@media (max-width: 900px) {
  .faq-content-block .list-content .accordion-item .accordion-body {
    padding: 17px 28px 17px 0;
  }
}
.faq-content-block .list-content .accordion-item .accordion-body .type {
  width: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #006e78;
}
@media (max-width: 900px) {
  .faq-content-block .list-content .accordion-item .accordion-body .type {
    max-width: 40px;
    font-size: 18px;
    line-height: 22px;
  }
}
.faq-content-block .list-content .accordion-item .accordion-body div {
  font-size: 16px;
  line-height: 26px;
  color: #222222;
}
@media (max-width: 900px) {
  .faq-content-block .list-content .accordion-item .accordion-body div {
    font-size: 15px;
    line-height: 160%;
  }
}
.faq-content-block .list-content .remove-border {
  border-left: none;
  border-right: none;
  border-top: none;
}

.annoucement-detail-block {
  margin-top: 140px;
}
@media (max-width: 900px) {
  .annoucement-detail-block {
    margin-top: 70px;
  }
}
.annoucement-detail-block .wrapper-detail {
  margin-bottom: 80px;
  border-top: 2px solid;
  border-top-color: #231815;
  border-bottom: 1px solid;
  border-bottom-color: #dddddd;
}
@media (max-width: 900px) {
  .annoucement-detail-block .wrapper-detail {
    margin-bottom: 31px;
  }
}
.annoucement-detail-block .wrapper-detail h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  padding: 30px 0;
  border-bottom: 1px solid;
  border-bottom-color: #dddddd;
}
@media (max-width: 900px) {
  .annoucement-detail-block .wrapper-detail h1 {
    padding: 20px 0;
    font-size: 18px;
    line-height: 150%;
  }
}
.annoucement-detail-block .wrapper-detail .info-block {
  margin-top: 16px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 900px) {
  .annoucement-detail-block .wrapper-detail .info-block {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 140%;
  }
}
.annoucement-detail-block .wrapper-detail .info-block .author {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 900px) {
  .annoucement-detail-block .wrapper-detail .info-block .author {
    gap: 15px;
  }
}
.annoucement-detail-block .wrapper-detail .info-block .author span:nth-child(1) {
  color: #999999;
}
.annoucement-detail-block .wrapper-detail .info-block .time {
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 900px) {
  .annoucement-detail-block .wrapper-detail .info-block .time {
    margin-left: 25px;
  }
}
.annoucement-detail-block .wrapper-detail .info-block .time span:nth-child(1) {
  color: #999999;
}
.annoucement-detail-block .wrapper-detail .content-block {
  width: 100%;
  margin-bottom: 72px;
  font-size: 18px;
  line-height: 30px;
  color: #231815;
}
@media (max-width: 900px) {
  .annoucement-detail-block .wrapper-detail .content-block {
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 40px;
  }
}
.annoucement-detail-block .wrapper-detail .content-block img {
  width: 100%;
}
.annoucement-detail-block .action-button {
  margin-bottom: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .annoucement-detail-block .action-button {
    margin-bottom: 100px;
  }
}
.annoucement-detail-block .action-button a {
  background-color: #ffffff;
  text-decoration: none;
  color: #222222;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  width: 200px;
  height: 48px;
  border: 1px solid #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .annoucement-detail-block .action-button a {
    width: 70px;
  }
}

.trainning-gallery-list {
  margin-top: 140px;
}
@media (max-width: 900px) {
  .trainning-gallery-list {
    margin-top: 70px;
  }
}
.trainning-gallery-list .item {
  text-decoration: none;
  margin-bottom: 100px;
}
.trainning-gallery-list .item .image-block img:hover {
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  transition: 0.4s ease;
}
@media (max-width: 900px) {
  .trainning-gallery-list .item {
    margin-bottom: 60px;
  }
}
.trainning-gallery-list .item a {
  text-decoration: none;
}
.trainning-gallery-list .item .image-block {
  position: relative;
  margin-bottom: 32px;
}
@media (max-width: 900px) {
  .trainning-gallery-list .item .image-block {
    margin-bottom: 21px;
  }
}
.trainning-gallery-list .item .image-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.trainning-gallery-list .item .image-block span {
  position: absolute;
  content: "";
  width: 70px;
  height: 56px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #999999;
}
@media (max-width: 900px) {
  .trainning-gallery-list .item .image-block span {
    width: 52px;
    height: 42px;
  }
}
.trainning-gallery-list .item .image-block span.active {
  background-color: #006e78 !important;
}
.trainning-gallery-list .item .image-block .opacity-img {
  opacity: 0.4;
}
.trainning-gallery-list .item h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 10px;
  color: #161618;
}
@media (max-width: 900px) {
  .trainning-gallery-list .item h3 {
    font-size: 16px;
    line-height: 170%;
    margin-bottom: 8px;
  }
}
.trainning-gallery-list .item h3:hover {
  text-decoration: underline !important;
}
.trainning-gallery-list .item h3.txt-gray-color {
  color: #999999 !important;
}
.trainning-gallery-list .item .info-block.title-weight span:nth-child(1) {
  color: #444444;
}
.trainning-gallery-list .item .info-block .content {
  font-size: 16px;
  line-height: 26px;
  color: #444444;
}
@media (max-width: 900px) {
  .trainning-gallery-list .item .info-block .content {
    font-size: 14px;
    line-height: 160%;
  }
}
.trainning-gallery-list .item .info-block .content span:nth-child(2) {
  margin-left: 20px;
}
.trainning-gallery-list .item .txt-red-color {
  color: #f63024 !important;
}
.trainning-gallery-list .pagination-block {
  margin-top: 20px !important;
}

.trainning-gallery-detail {
  margin-top: 140px;
}
@media (max-width: 900px) {
  .trainning-gallery-detail {
    margin-top: 70px;
  }
}
.trainning-gallery-detail .content-first {
  margin-bottom: 80px;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-first {
    margin-bottom: 40px;
  }
}
.trainning-gallery-detail .content-first .item {
  margin-bottom: 0;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-first .item {
    margin-bottom: 20px;
  }
}
.trainning-gallery-detail .content-first .item .image-block:hover {
  pointer-events: none;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-first .item .image-block {
    margin-bottom: 0;
  }
}
.trainning-gallery-detail .content-first .item .image-block img {
  height: 380px;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-first .item .image-block img {
    height: 100%;
  }
}
.trainning-gallery-detail .content-first .pl-46-pc {
  padding-left: 46px;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-first .pl-46-pc {
    padding-left: 12px;
  }
}
.trainning-gallery-detail h2 {
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #161618;
}
@media (max-width: 900px) {
  .trainning-gallery-detail h2 {
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 20px;
  }
}
.trainning-gallery-detail .info .info-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .info .info-item {
    margin-bottom: 2px;
  }
}
.trainning-gallery-detail .info .info-item span {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #222222;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .info .info-item span {
    font-size: 14px;
    line-height: 160%;
  }
}
.trainning-gallery-detail .info .info-item span:nth-child(1) {
  min-width: 80px;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .info .info-item span:nth-child(1) {
    min-width: 60px;
  }
}
.trainning-gallery-detail .info .info-item span:nth-child(2) {
  font-weight: 400;
  color: #444444;
  margin-left: 83px;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .info .info-item span:nth-child(2) {
    margin-left: 10px;
  }
}
.trainning-gallery-detail hr {
  color: #222222;
  height: 1px;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .trainning-gallery-detail hr {
    margin-top: 0;
  }
}
.trainning-gallery-detail .content-second {
  margin-bottom: 80px;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-second {
    margin-bottom: 40px;
  }
}
.trainning-gallery-detail .content-second .title-block {
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 47px;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-second .title-block {
    margin-bottom: 20px;
  }
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-second .title-block img {
    width: 20px;
    height: 20px;
  }
}
.trainning-gallery-detail .content-second .title-block h3 {
  margin-left: 10px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 0;
  color: #161618;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-second .title-block h3 {
    margin-left: 4px;
    font-size: 18px;
    line-height: 150%;
  }
}
.trainning-gallery-detail .content-second .content-block {
  max-width: 610px;
  font-size: 18px;
  line-height: 30px;
  color: #231815;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-second .content-block {
    font-size: 15px;
    line-height: 160%;
  }
}
.trainning-gallery-detail .content-third {
  margin-bottom: 0;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-third.table-list {
    margin-top: 0;
  }
}
.trainning-gallery-detail .content-third .title-block {
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-third .title-block img {
    width: 20px;
    height: 20px;
  }
}
.trainning-gallery-detail .content-third .title-block h3 {
  margin-left: 10px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 0;
  color: #161618;
}
@media (max-width: 900px) {
  .trainning-gallery-detail .content-third .title-block h3 {
    margin-left: 4px;
    font-size: 18px;
    line-height: 150%;
  }
}
.trainning-gallery-detail .content-third .content-block {
  margin-bottom: 60px;
}
.trainning-gallery-detail .action-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.trainning-gallery-detail .action-block a {
  width: 200px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  text-decoration: none;
}
.trainning-gallery-detail .action-block a.btn-list {
  color: #222222;
  background: #ffffff;
  border: 1px solid #222222;
}
.trainning-gallery-detail .action-block .btn-apply {
  color: #ffffff;
  background: #006e78;
  border: none;
}

.register-section {
  padding-top: 120px;
  padding-bottom: 200px;
}
@media (max-width: 900px) {
  .register-section {
    padding-top: 60px;
    padding-bottom: 121px;
  }
}
.register-section .btn-modal-find-id {
  width: 97px;
  height: 40px;
  background-color: #222222;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 14px;
  line-height: 24px;
}
.register-section .btn-policy-modal {
  margin-left: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #006e78;
  text-decoration: none;
}
@media (max-width: 900px) {
  .register-section .btn-policy-modal {
    font-size: 11px;
  }
}
.register-section .btn-submit-form {
  height: 48px;
  width: 343px;
  background-color: #006e78;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-top: 80px;
}
@media (max-width: 900px) {
  .register-section .btn-submit-form {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .register-section .border-top, .register-section .border-2, .register-section .border-dark, .register-section .border-bottom {
    border: none;
    border-width: unset;
    border-top: unset !important;
    border-bottom: unset !important;
  }
}
@media (max-width: 900px) {
  .register-section .input-group-text {
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (max-width: 900px) {
  .register-section .wrapper-label {
    background-color: unset;
  }
}
.register-section .wrapper-label .col-form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #202020;
}
@media (max-width: 900px) {
  .register-section .wrapper-label .col-form-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #222222;
  }
}
@media (max-width: 900px) {
  .register-section .mobile-padding-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 900px) {
  .register-section .mobile-border-none {
    border: none;
  }
}

.confirm-application-section {
  margin-top: 140px;
}
@media (max-width: 900px) {
  .confirm-application-section {
    margin-top: 70px;
  }
}
.confirm-application-section h1 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 40px;
}
.confirm-application-section .list-application-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 80px;
}
@media (max-width: 900px) {
  .confirm-application-section .list-application-tabs {
    margin-bottom: 40px;
  }
}
.confirm-application-section .list-application-tabs a {
  text-decoration: none;
  width: 189px;
  height: 40px;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #222222;
  border-radius: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
}
@media (max-width: 900px) {
  .confirm-application-section .list-application-tabs a {
    font-size: 14px;
    line-height: 20px;
    width: 163px;
    height: 32px;
  }
}
.confirm-application-section .list-application-tabs a.active {
  border: none;
  color: #ffffff;
  background-color: #006e78;
}
@media (max-width: 900px) {
  .confirm-application-section .table-custom tbody tr td:first-child {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 900px) {
  .confirm-application-section .table-custom tbody tr td:nth-child(2) {
    padding-top: 0;
    padding-bottom: 6px;
  }
}
@media (max-width: 900px) {
  .confirm-application-section .table-custom tbody tr td:nth-child(3) {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
@media (max-width: 900px) {
  .confirm-application-section .table-custom tbody tr td:last-child {
    padding-bottom: 20px;
    padding-top: 0;
  }
}
@media (max-width: 900px) {
  .confirm-application-section .table-custom tbody tr td:last-child .btn-action {
    width: 93px;
    height: 32px;
    font-size: 12px;
    margin: unset;
  }
}
.confirm-application-section .table-custom tbody tr td a {
  text-decoration: none !important;
}
@media (max-width: 900px) {
  .confirm-application-section .table-custom tbody tr td a {
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
  }
}
.confirm-application-section .table-custom tbody tr td a:hover {
  text-decoration: underline !important;
}
.confirm-application-section .table-custom tbody tr td a.btn-action {
  text-decoration: none !important;
}

.support-project-information-block {
  margin-top: 140px;
}
@media (max-width: 900px) {
  .support-project-information-block {
    margin-top: 70px;
  }
}
.support-project-information-block h1 {
  margin: 0 auto;
  text-align: center;
  max-width: 716px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #222222;
  margin-bottom: 111px;
}
@media (max-width: 900px) {
  .support-project-information-block h1 {
    font-size: 24px;
    line-height: 140%;
    color: #000000;
    max-width: 300px;
    margin-bottom: 40px;
  }
}
.support-project-information-block h1 span {
  color: #006e78;
}
.support-project-information-block .sub-description {
  background-color: #f8f8f8;
  height: 144px;
  font-size: 18px;
  line-height: 32px;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .support-project-information-block .sub-description {
    padding: 20px;
    height: 145px;
    font-size: 14px;
    line-height: 150%;
  }
}
.support-project-information-block .sub-description .text {
  max-width: 916px;
  padding: 0 auto;
}
.support-project-information-block .content-second {
  margin-bottom: 140px;
}
@media (max-width: 900px) {
  .support-project-information-block .content-second {
    margin-bottom: 40px;
  }
}
.support-project-information-block .content-second .title-block {
  margin-bottom: 10px;
}
.support-project-information-block .content-second .content-block {
  font-size: 16px;
  line-height: 28px;
  max-width: unset;
}
.support-project-information-block .content-second .content-block .target-block .left-content {
  font-size: 16px;
  line-height: 28px;
}
.support-project-information-block .content-second .content-block .target-block .right-content {
  font-size: 15px;
  line-height: 26px;
  background-color: #f8f8f8;
  padding: 16px;
}
.support-project-information-block .content-second .content-block .target-block p {
  margin-bottom: 0;
}
@media (max-width: 900px) {
  .support-project-information-block .content-second .content-block .overflow-horizon {
    overflow-x: auto;
  }
}
@media (max-width: 900px) {
  .support-project-information-block .content-second .content-block .overflow-horizon img {
    width: 557px;
  }
}
@media (max-width: 900px) {
  .support-project-information-block .content-second .content-block {
    font-size: 14px;
    line-height: 160%;
  }
}

.support-project-information-action {
  background-color: #006e78;
  height: 356px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .support-project-information-action {
    height: 240px;
  }
}
.support-project-information-action .btn-action {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 72px;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  border: 1px solid #ffffff;
  text-decoration: none;
  position: relative;
}
@media (max-width: 900px) {
  .support-project-information-action .btn-action {
    width: 328px;
    height: 64px;
    font-size: 16px;
    line-height: 150%;
    padding: 8px 56px 8px 16px;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .support-project-information-action .btn-action.btn-download {
    height: 56px;
    padding: 17px 56px 16px 16px;
    font-size: 15px;
    line-height: 150%;
  }
}
.support-project-information-action .btn-action.btn-download::after {
  content: "";
  background-image: url("../images/icon_download.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  right: 24px;
  position: absolute;
}
.support-project-information-action .btn-action.btn-apply {
  background-color: #ffffff;
  color: #006e78;
  font-weight: 700;
  padding: 0;
}
@media (max-width: 900px) {
  .support-project-information-action .btn-action.btn-apply {
    height: 48px;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
  }
}

.just-transition-block h1 {
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .just-transition-block h1 {
    font-size: 24px;
    line-height: 140%;
    width: 300px;
    margin-bottom: 20px;
  }
}
.just-transition-block .sub-title {
  max-width: 916px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  font-size: 20px;
  line-height: 32px;
  color: #222222;
}
@media (max-width: 900px) {
  .just-transition-block .sub-title {
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 30px;
  }
}
.just-transition-block .img-sub-title {
  width: 100%;
  margin-bottom: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 900px) {
  .just-transition-block .img-sub-title {
    height: 370px;
    margin-bottom: 60px;
  }
}
@media (max-width: 900px) {
  .just-transition-block .content-second .content-block {
    font-size: 14px;
    line-height: 160%;
  }
}
.just-transition-block .content-second .content-block .expect-benefit-wrapper {
  position: relative;
}
.just-transition-block .content-second .content-block .expect-benefit-wrapper::before {
  position: absolute;
  content: "";
  background-image: url("../images/img_expect_benefit_1.svg");
  background-repeat: no-repeat;
  left: -35%;
  height: 100%;
  max-width: 600px;
  width: 100%;
  top: 0;
}
@media (max-width: 900px) {
  .just-transition-block .content-second .content-block .expect-benefit-wrapper::before {
    display: none;
  }
}
.just-transition-block .content-second .content-block .expect-benefit-wrapper::after {
  position: absolute;
  content: "";
  background-image: url("../images/img_expect_benefit_2.svg");
  background-repeat: no-repeat;
  right: -50%;
  height: 100%;
  max-width: 600px;
  width: 100%;
  top: 0;
}
@media (max-width: 900px) {
  .just-transition-block .content-second .content-block .expect-benefit-wrapper::after {
    display: none;
  }
}

.wrapper-find-id-block {
  margin-top: 120px;
  margin-bottom: 200px;
}
@media (max-width: 900px) {
  .wrapper-find-id-block {
    margin-top: 60px;
    margin-bottom: 129px;
  }
}

.find-id-block h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 900px) {
  .find-id-block h1 {
    font-size: 24px;
    line-height: 34px;
    margin-top: 60px;
    margin-bottom: 47px;
  }
}
.find-id-block .form-find-id input,
.find-id-block .form-find-id select {
  padding-left: 16px;
  height: 40px;
  border: 1px solid #dddddd;
}
.find-id-block .form-find-id .row:nth-child(2) {
  border-top: 2px solid #231815;
  border-bottom: 1px solid #dddddd;
}
@media (max-width: 992px) {
  .find-id-block .form-find-id .row:nth-child(2) {
    border-top: unset;
    border-bottom: unset;
  }
}
.find-id-block .form-find-id .row:nth-child(3) {
  border-bottom: 1px solid #dddddd;
}
@media (max-width: 992px) {
  .find-id-block .form-find-id .row:nth-child(3) {
    border-bottom: unset;
  }
}
.find-id-block .form-find-id .label-block {
  padding: 25px 0 25px 31px;
  display: flex;
  align-items: center;
  background: #f8f8f8;
  max-width: 240px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #202020;
}
@media (max-width: 900px) {
  .find-id-block .form-find-id .label-block {
    width: 100%;
    background-color: #ffffff;
    padding-left: 17px;
    padding-top: 20px;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}
.find-id-block .form-find-id .wrapper-group-input-custom {
  display: flex;
  align-items: center;
}
.find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-1 {
  display: flex;
  align-items: center;
}
.find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-1 .input-1 {
  width: 239px;
}
@media (max-width: 900px) {
  .find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-1 .input-1 {
    width: 86px;
  }
}
.find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-1 .input-2 {
  width: 239px;
}
@media (max-width: 900px) {
  .find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-1 .input-2 {
    width: 102px;
  }
}
.find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-1 .wrapper-select {
  width: 140px;
  margin-left: 8px;
}
@media (max-width: 900px) {
  .find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-1 .wrapper-select {
    width: 110px;
  }
}
@media (max-width: 900px) {
  .find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-1 .input-group-text {
    padding-left: 4px;
    padding-right: 4px;
  }
}
.find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-2 {
  display: flex;
  align-items: center;
}
.find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-2 .input-1 {
  width: 130px;
}
@media (max-width: 900px) {
  .find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-2 .input-1 {
    width: 76px;
  }
}
.find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-2 .input-2 {
  width: 240px;
}
@media (max-width: 900px) {
  .find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-2 .input-2 {
    width: 110px;
  }
}
.find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-2 .input-3 {
  width: 240px;
}
@media (max-width: 900px) {
  .find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-2 .input-3 {
    width: 110px;
  }
}
@media (max-width: 900px) {
  .find-id-block .form-find-id .wrapper-group-input-custom .group-input-custom-2 .input-group-text {
    padding-left: 4px;
    padding-right: 4px;
  }
}
.find-id-block .group-action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.find-id-block .group-action .btn-submit {
  width: 343px;
  height: 48px;
  background-color: #006e78;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
}
@media (max-width: 900px) {
  .find-id-block .group-action .btn-submit {
    font-size: 15px;
  }
}

.login-section {
  padding-top: 120px;
  padding-bottom: 167px;
}
@media (max-width: 900px) {
  .login-section {
    padding-top: 60px;
    padding-bottom: 113px;
  }
}
.login-section .wrapper-form {
  max-width: 521px;
  margin: 0 auto;
}
.login-section .wrapper-form .form-login {
  max-width: 343px;
  margin: 0 auto;
}
.login-section .title-form {
  margin-bottom: 80px;
}
@media (max-width: 900px) {
  .login-section .title-form {
    margin-bottom: 20px;
  }
}
.login-section .sub-title-form {
  margin: auto;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
}
@media (max-width: 900px) {
  .login-section .sub-title-form {
    font-size: 13px;
    line-height: 160%;
    width: 300px;
  }
}
.login-section input, .login-section button {
  max-width: 343px;
  height: 48px;
}
.login-section .btn-submit-form {
  background-color: #006e78;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 900px) {
  .login-section .btn-submit-form {
    font-size: 15px;
  }
}
.login-section a {
  color: #444444;
  text-decoration: none;
}
.login-section a:hover {
  color: #006e78;
}

@media (max-width: 900px) {
  .footer-section {
    padding-bottom: 0 !important;
  }
}
.footer-section .footer-column-1 {
  width: 298px;
}
.footer-section .footer-column-1 img {
  width: 250px;
  height: 55px;
}
@media (max-width: 900px) {
  .footer-section .footer-column-1 img {
    width: 165px;
    height: 36px;
  }
}
@media (max-width: 900px) {
  .footer-section .footer-column-1 {
    width: 100%;
    margin-bottom: 20px !important;
  }
}
.footer-section .footer-column-2 {
  width: 595px;
  color: #999999;
  font-size: 13px;
  line-height: 140%;
  margin-bottom: 20px !important;
}
@media (min-width: 900px) {
  .footer-section .footer-column-2 {
    margin-left: initial;
    margin-left: 58px;
    max-width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
  }
}
.footer-section .footer-column-2 .title-bold {
  font-weight: 700;
  color: #222222;
}
@media (max-width: 900px) {
  .footer-section .footer-column-2 .title-bold {
    color: #666666;
  }
}
@media (max-width: 900px) {
  .footer-section .footer-column-2 .txt-copyright-block {
    margin-top: 10px !important;
  }
}
.footer-section .footer-column-3 .row {
  margin-bottom: 16px;
}
@media (max-width: 900px) {
  .footer-section .footer-column-3 .row {
    margin-bottom: 10px;
  }
}
@media (min-width: 900px) {
  .footer-section .footer-column-3 {
    margin-left: initial;
    margin-left: 90px;
  }
}
.footer-section .footer-column-3 .txt-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  position: relative;
  height: 100%;
}
.footer-section .footer-column-3 .txt-title::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  right: 10%;
  border: 1px solid #dddddd;
}
@media (max-width: 900px) {
  .footer-section .footer-column-3 .txt-title::after {
    height: 120%;
  }
}
@media (max-width: 900px) {
  .footer-section .footer-column-3 .txt-title {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 900px) {
  .footer-section .footer-column-3 .group-image img:first-child {
    margin-right: 10px;
  }
}
.footer-section .footer-column-3 img {
  height: 34px;
}
@media (max-width: 900px) {
  .footer-section .footer-column-3 img {
    height: 30px;
  }
}

.question-answer-block .table-custom tbody tr td {
  color: #444444;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 900px) {
  .question-answer-block .table-custom tbody tr td {
    font-size: 14px;
    line-height: 160%;
    padding-bottom: 0;
  }
}
@media (max-width: 900px) {
  .question-answer-block .table-custom tbody tr td:last-child {
    width: auto;
    padding-bottom: 8px;
  }
}
.question-answer-block .action-block {
  float: right;
}
.question-answer-block .action-block .btn-request-question {
  width: 60px;
  height: 60px;
  background-color: #006e78;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
}
.question-answer-block .pagination-block {
  margin-top: 200px;
}

.question-answer-form-block .title-form {
  margin-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
}
.question-answer-form-block .title-form h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #231815;
  margin-bottom: 0;
}
.question-answer-form-block .title-form .sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #202020;
}
@media (max-width: 900px) {
  .question-answer-form-block .table-block {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.question-answer-form-block .table-block .table-custom {
  margin-top: 0;
}
.question-answer-form-block .table-block .table-custom tbody tr td {
  color: #444444;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 900px) {
  .question-answer-form-block .table-block .table-custom tbody tr td {
    font-size: 14px;
    line-height: 160%;
  }
}
@media (max-width: 900px) {
  .question-answer-form-block .table-block .table-custom tbody tr td:last-child {
    width: auto;
  }
}
.question-answer-form-block .table-block .description-table {
  margin-top: -10px;
  font-size: 16px;
  line-height: 19px;
  color: #202020;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 60px;
}
.question-answer-form-block .radio-block {
  width: 570px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .question-answer-form-block .radio-block {
    display: block;
    width: 100%;
  }
}
.question-answer-form-block .radio-block .custom-radio .container {
  font-weight: 400;
  font-size: 16px;
}
.question-answer-form-block .radio-block .custom-radio .checkmark {
  height: 24px;
  width: 24px;
  top: 2px;
}
.question-answer-form-block .radio-block .custom-radio .checkmark::after {
  top: 8px;
  left: 8px;
}
.question-answer-form-block .btn-submit-form {
  margin-top: 123px;
}
@media (max-width: 900px) {
  .question-answer-form-block .btn-submit-form {
    margin-top: 80px;
  }
}
.question-answer-form-block .txt-red-color {
  color: #F16C33;
}

@media (max-width: 900px) {
  .question-answer-detail .action-block {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.question-answer-detail .action-block .wrapper-textarea {
  padding-left: 0;
  padding-right: 0;
  width: calc(100% - 130px);
}
@media (max-width: 900px) {
  .question-answer-detail .action-block .wrapper-textarea {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.question-answer-detail .action-block textarea {
  height: 120px;
  width: 100%;
  border: none;
}
.question-answer-detail .action-block .btn-submit-question {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #006e78;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 900px) {
  .question-answer-detail .action-block .btn-submit-question {
    height: 60px;
    margin: 0 auto;
  }
}
.question-answer-detail .content-block-action {
  padding-top: 36px;
  padding-bottom: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #212222;
}
.question-answer-detail .content-block-action .icon-arrow-block {
  text-align: right;
  margin-left: -30px;
}
@media (max-width: 900px) {
  .question-answer-detail .content-block-action .icon-arrow-block {
    display: none;
  }
}
.question-answer-detail .content-block-action .description {
  max-width: 1079px;
  width: 100%;
}
.question-answer-detail .content-block-action .action-component {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
@media (max-width: 900px) {
  .question-answer-detail .content-block-action .action-component {
    margin-left: unset;
    margin-top: 15px;
  }
}
.question-answer-detail .content-block-action .action-component .info {
  width: 100%;
}
.question-answer-detail .content-block-action .action-component .info .title {
  color: #999999;
}
.question-answer-detail .content-block-action .action-component .info .date {
  margin-left: 15px;
  color: #5A5B5D;
}
.question-answer-detail .content-block-action .action-component .info .bagde-item {
  margin-top: 10px;
  margin-left: auto;
  width: 85px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #006e78;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #006e78;
  border-radius: 27px;
  text-align: center;
  pointer-events: none;
}
@media (max-width: 900px) {
  .question-answer-detail .content-block-action .action-component .info .bagde-item {
    margin-left: unset;
  }
}
.question-answer-detail .wrapper-detail {
  border-bottom: none;
}

@media (max-width: 900px) {
  .table-schedule-program tbody td:first-child {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 900px) {
  .table-schedule-program tbody td:nth-child(2) {
    padding-top: 0;
    padding-bottom: 6px;
  }
}
@media (max-width: 900px) {
  .table-schedule-program tbody td:nth-child(3) {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
@media (max-width: 900px) {
  .table-schedule-program tbody td:last-child {
    padding-top: 0;
    padding-bottom: 28px;
  }
}
.table-schedule-program button {
  border-radius: unset;
  width: 73px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
}
@media (max-width: 900px) {
  .table-schedule-program button {
    font-size: 0.9rem;
    width: 60px;
    height: 35px;
  }
}

.modal-footer-custom {
  border-top: none;
  align-items: center;
  justify-content: center;
}
.modal-footer-custom button {
  width: 48%;
  height: 56px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
@media (max-width: 900px) {
  .modal-footer-custom button {
    width: 45%;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
  }
}

#modalApply .inputfile-box {
  position: relative;
}
#modalApply .inputfile {
  display: none;
}
#modalApply .container {
  display: inline-block;
  width: 100%;
}
#modalApply .file-box {
  height: 100%;
  word-break: break-all;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
#modalApply .file-box.placeholder-file {
  color: #999999;
}
#modalApply .file-button {
  background: red;
  padding: 5px;
  position: absolute;
  border: 1px solid;
  top: 0px;
  right: 0px;
}
#modalApply .btn-survey {
  margin-top: 30px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  background-color: #222222;
}
#modalApply .action-upload-btn {
  width: 73px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #222222;
  cursor: pointer;
}
@media (max-width: 900px) {
  #modalApply .action-upload-btn {
    width: -moz-max-content;
    width: max-content;
  }
}
#modalApply .error-block {
  margin-bottom: 0;
  margin-top: 14px;
  color: #f63024;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  padding-left: 0;
}
#modalApply .btn-cancel {
  color: #ffffff;
  border: none;
  background-color: #bbbbbb;
}
#modalApply .btn-submit {
  color: #ffffff;
  border: none;
  background-color: #006e78;
}
#modalApply .action-download-block p {
  font-size: 13px;
  line-height: 14px;
  color: #f63024;
  margin-bottom: 0;
}
#modalApply ::-moz-placeholder {
  color: #999999;
}
#modalApply ::placeholder {
  color: #999999;
}
@media (max-width: 900px) {
  #modalApply .modal-body .col-form-label {
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    width: 70px;
  }
}
#modalApply.page-2-2 .custom-radio .container {
  padding-left: 25px;
}
@media (max-width: 900px) {
  #modalApply.page-2-2 .custom-radio .container {
    font-size: 13px;
    line-height: 140%;
    padding-left: 20px;
  }
}
#modalApply.page-2-2 .custom-radio .container .checkmark {
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 900px) {
  #modalApply.page-2-2 .action-download-block .btn-survey {
    width: 113px;
    height: 36px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
  }
}
@media (max-width: 900px) {
  #modalApply.page-2-2 .action-download-block p {
    font-size: 11px;
    line-height: 140%;
    margin-left: -12px;
  }
}

#findIdModal input {
  height: 40px;
}
#findIdModal .btn-submit {
  width: 73px;
  height: 40px;
  background-color: #222222;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
#findIdModal .error-block {
  margin-top: 4px;
  color: #f63024;
  list-style: none;
  font-size: 12px;
  line-height: 20px;
}
#findIdModal .success-block {
  margin-top: 18px;
  display: flex;
  align-items: center;
}
#findIdModal .btn-use-unique-id {
  font-size: 14px;
  line-height: 24px;
  color: #006e78;
  text-decoration: none;
  width: 73px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

#modalSuccess .modal-body-custom {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
}
#modalSuccess .btn-close-modal {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background: none;
  border: none;
  width: 80px;
  height: 50px;
}

#exampleModal .modal-header a {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}
#exampleModal .modal-body .item-menu-parent {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}
#exampleModal .modal-body .card-body {
  padding: 15px;
}
#exampleModal .modal-body .card-body div {
  margin-bottom: 10px;
}
#exampleModal .modal-body a {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #444444;
}

#policyModal .modal-custom-width {
  max-width: 678px;
}
#policyModal .modal-header {
  border-bottom: none;
}
#policyModal .modal-title-custom {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #111111;
  margin-bottom: 0;
}
#policyModal h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #111111;
  margin-bottom: 24px;
}
#policyModal .policy-content {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}
#policyModal .policy-content ul {
  padding-left: 15px;
}
#policyModal .policy-content ul .children-list {
  list-style: disc;
  padding-left: inherit;
}

#infoModal .modal-header {
  border-bottom: unset;
}
#infoModal .modal-header .modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
#infoModal .modal-footer {
  border-top: unset;
}
#infoModal .modal-body-custom {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
}
#infoModal .modal-body-custom img {
  margin-bottom: 16px;
}
#infoModal .btn-close-modal {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background: none;
  border: none;
  width: 80px;
  height: 50px;
}

#completeModal .modal-header {
  border-bottom: unset;
}
#completeModal .modal-header .modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
#completeModal .modal-footer {
  border-top: unset;
}
#completeModal .modal-body-custom {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
}
#completeModal .modal-body-custom img {
  margin-bottom: 16px;
}
#completeModal .btn-close-modal {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background: none;
  border: none;
  width: 80px;
  height: 50px;
}

#failureModal .modal-header {
  border-bottom: unset;
}
#failureModal .modal-header .modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
#failureModal .modal-footer {
  border-top: unset;
}
#failureModal .modal-body-custom {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
}
#failureModal .modal-body-custom img {
  margin-bottom: 16px;
}
#failureModal .btn-close-modal {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background: none;
  border: none;
  width: 80px;
  height: 50px;
}

#text1Modal .modal-header {
  border-bottom: unset;
}
#text1Modal .modal-header .modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
#text1Modal .modal-footer {
  border-top: unset;
}
#text1Modal .modal-body-custom {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
  padding: 0;
}
#text1Modal .modal-body-custom img {
  margin-bottom: 16px;
}
#text1Modal .btn-close-modal {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background: none;
  border: none;
  width: 80px;
  height: 50px;
}

#text2Modal .modal-header {
  border-bottom: unset;
  height: 80px;
}
#text2Modal .modal-header .modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
#text2Modal .modal-footer {
  border-top: unset;
}
#text2Modal .modal-body-custom {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
  padding: 0;
}
#text2Modal .modal-body-custom img {
  margin-bottom: 16px;
}
#text2Modal .btn-close-modal {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background: none;
  border: none;
  width: 80px;
  height: 50px;
}/*# sourceMappingURL=app.css.map */