.annoucement-detail-block {
    margin-top: 140px;

    @media (max-width: $medium) {
        margin-top: 70px;
    }

    .wrapper-detail {
        margin-bottom: 80px;
        border-top: 2px solid;
        border-top-color: #231815;
        border-bottom: 1px solid;
        border-bottom-color: $gray-color-6;

        @media (max-width: $medium) {
            margin-bottom: 31px;
        }
        
        h1 {
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            padding: 30px 0;
            border-bottom: 1px solid;
            border-bottom-color: $gray-color-6;

            @media (max-width: $medium) {
                padding: 20px 0;
                font-size: 18px;
                line-height: 150%;
            }
        }

        .info-block {
            margin-top: 16px;
            margin-bottom: 80px;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            @media (max-width: $medium) {
                margin-top: 20px;
                margin-bottom: 40px;
                font-size: 13px;
                line-height: 140%;
            }

            .author {
                display: flex;
                align-items: center;
                gap: 16px;

                @media (max-width: $medium) {
                    gap: 15px;
                }

                span {
                    &:nth-child(1) {
                        color: $gray-color-4;
                    }
                }
            }

            .time {
                margin-left: 40px;
                display: flex;
                align-items: center;
                gap: 16px;

                @media (max-width: $medium) {
                    margin-left: 25px;
                }

                span {
                    &:nth-child(1) {
                        color: $gray-color-4;
                    }
                }
            }
        }

        .content-block {
            width: 100%;
            margin-bottom: 72px;
            font-size: 18px;
            line-height: 30px;
            color: #231815;

            @media (max-width: $medium) {
                font-size: 15px;
                line-height: 160%;

                margin-bottom: 40px;
            }

            img {
                width: 100%;
            }
        }
    }

    .action-button {
        margin-bottom: 152px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $medium) {
            margin-bottom: 100px;
        }

        a {
            background-color: $white-color;
            text-decoration: none;
            color: $secondary-color;
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            width: 200px;
            height: 48px;
            border: 1px solid $secondary-color;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: $medium) {
                width: 70px;
            }
        }
    }

    
}