.banner {
    height: 360px;
    padding-left: 0;
    padding-right: 0;
    position: relative;

    @media (max-width: $medium) {
        height: 180px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .text-block {
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100%;

        h1 {
            font-weight: 700;
            font-size: 56px;
            line-height: 66px;
            color: $gray-color-5;

            @media (max-width: $medium) {
                font-size: 36px;
                line-height: 46px;
                color: $gray-color-5;
            }
        }

        p {
            font-size: 36px;
            line-height: 46px;
            color: $white-color;

            @media (max-width: $medium) {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    .left-55-percent {
        @media (max-width: $medium) {
            left: 55% !important;
        }
    }
}