.confirm-application-section {
    margin-top: 140px;

    @media (max-width: $medium) {
        margin-top: 70px;
    }

    h1 {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 40px;
    }

    .list-application-tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 80px;

        @media (max-width: $medium) {
            margin-bottom: 40px;
        }

        a {
            text-decoration: none;
            width: 189px;
            height: 40px;
            color: $secondary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $gray-color-1;
            border-radius: 24px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            background-color: $white-color;

            @media (max-width: $medium) {
                font-size: 14px;
                line-height: 20px;
                width: 163px;
                height: 32px;
            }

            &.active {
                border: none;
                color: $white-color;
                background-color: $primary-color;
            }
        }
    }

    .table-custom {
        tbody {
            tr {
                td {
                    &:first-child {
                        @media (max-width: $medium) {
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                    }

                    &:nth-child(2) {
                        @media (max-width: $medium) {
                            padding-top: 0;
                            padding-bottom: 6px;
                        }
                    }

                    &:nth-child(3) {
                        @media (max-width: $medium) {
                            padding-top: 0;
                            padding-bottom: 20px;
                        }
                    }

                    &:last-child {
                        @media (max-width: $medium) {
                            padding-bottom: 20px;
                            padding-top: 0;
                        }

                        .btn-action {
                            @media (max-width: $medium) {
                                width: 93px;
                                height: 32px;
                                font-size: 12px;
                                margin: unset;
                            }
                        }
                    }

                    a {
                        text-decoration: none !important;

                        @media (max-width: $medium) {
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 160%;
                        }
    
                        &:hover {
                            text-decoration: underline !important;
                        }
    
                        &.btn-action {
                            text-decoration: none !important;
                        }
                    }
                }
            }
        }
    }
}