.faq-content-block {
    margin-top: 140px;
    margin-bottom: 195px;

    @media (max-width: $medium) {
        margin-top: 72px;
        margin-bottom: 120px;
    }

    .list-type {
        display: flex;
        align-items: center;
        gap: 8px;

        @media (max-width: $medium) {
            display: none;
        }

        a {
            border-radius: 24px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #202020;
            padding: 10px 20px;
            border: 1px solid $gray-color-6;
            border-radius: 24px;
            text-decoration: none;
            background-color: $white-color;

            &.active {
                background: $primary-color;
                color: $white-color;
            }
        }
    }

    .list-content {
        margin-top: 40px;

        .accordion-item {
            &:nth-child(1) {
                border-top: 2px solid;
                border-top-color: $gray-color-1;
                border-top-left-radius: unset;
                border-top-right-radius: unset;
            }

            .accordion-button {
                height: 72px;
                align-items: center;
                border-top-left-radius: unset;
                border-top-right-radius: unset;

                &:focus {
                    border-color: unset;
                    box-shadow: unset;
                }

                @media (max-width: $medium) {
                    height: 56px;
                    padding: 11px 0 11px 0;
                }

                .type {
                    width: 100px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    color: $secondary-color;

                    @media (max-width: $medium) {
                        width: 40px;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }

                .question {
                    margin-bottom: 0;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: $secondary-color;

                    @media (max-width: $medium) {
                        font-size: 15px;
                        line-height: 160%;
                        width: 250px;
                    }
                }

                &::after {
                    background-image: url('../images/icon_arrow_down.svg');
                }

                &:not(.collapsed) {
                    background-color: unset;

                    &::after {
                        background-image: url('../images/icon_arrow_down.svg');
                    }
                }
            }

            .accordion-body {
                width: 100%;
                display: inline-flex;
                background-color: $gray-color-7;

                
                @media (max-width: $medium) {
                    padding: 17px 28px 17px 0;
                }

                .type {
                    width: 100px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    color: $primary-color;

                    @media (max-width: $medium) {
                        max-width: 40px;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }

                div {
                    font-size: 16px;
                    line-height: 26px;
                    color: $gray-color-1;

                    @media (max-width: $medium) {
                        font-size: 15px;
                        line-height: 160%;
                    }
                }
            }
        }

        .remove-border {
            border-left: none;
            border-right: none;
            border-top: none;
        }
    }
}