.wrapper-find-id-block {
    margin-top: 120px;
    margin-bottom: 200px;

    @media (max-width: $medium) {
        margin-top: 60px;
        margin-bottom: 129px;
    }
}

.find-id-block {
    h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 80px;
        text-align: center;

        @media (max-width: $medium) {
            font-size: 24px;
            line-height: 34px;
            margin-top: 60px;
            margin-bottom: 47px;
        }
    }

    .form-find-id {
        input,
        select {
            padding-left: 16px;
            height: 40px;
            border: 1px solid $gray-color-6;
        }

        .row {
            &:nth-child(2) {
                border-top: 2px solid #231815;
                border-bottom: 1px solid $gray-color-6;

                @media (max-width: $large) {
                    border-top: unset;
                    border-bottom: unset;
                }
            }

            &:nth-child(3) {
                border-bottom: 1px solid $gray-color-6;

                @media (max-width: $large) {
                    border-bottom: unset;
                }
            }
        }

        .label-block {
            padding: 25px 0 25px 31px;
            display: flex;
            align-items: center;
            background: $gray-color-7;
            max-width: 240px;
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: #202020;

            @media (max-width: $medium) {
                width: 100%;
                background-color: $white-color;
                padding-left: 17px;
                padding-top: 20px;
                padding-bottom: 4px;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
            }
        }

        .wrapper-group-input-custom {
            display: flex;
            align-items: center;

            .group-input-custom-1 {
                display: flex;
                align-items: center;

                .input-1 {
                    width: 239px;

                    @media (max-width: $medium) {
                        width: 86px;
                    }
                }

                .input-2 {
                    width: 239px;

                    @media (max-width: $medium) {
                        width: 102px;
                    }
                }

                .wrapper-select {
                    width: 140px;
                    margin-left: 8px;

                    @media (max-width: $medium) {
                        width: 110px;
                        
                    }
                }

                .input-group-text {
                    @media (max-width: $medium) {
                        padding-left: 4px;
                        padding-right: 4px;
                    }
                }
            }

            .group-input-custom-2 {
                display: flex;
                align-items: center;

                .input-1 {
                    width: 130px;

                    @media (max-width: $medium) {
                        width: 76px;
                    }
                }

                .input-2 {
                    width: 240px;

                    @media (max-width: $medium) {
                        width: 110px;
                    }
                }

                .input-3 {
                    width: 240px;

                    @media (max-width: $medium) {
                        width: 110px;
                    }
                }

                
                .input-group-text {
                    @media (max-width: $medium) {
                        padding-left: 4px;
                        padding-right: 4px;
                    }
                }
            }
        }
    }

    .group-action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;

        .btn-submit {
            width: 343px;
            height: 48px;
            background-color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $white-color;
            border: none;

            @media (max-width: $medium) {
                font-size: 15px;
            }
        }
    }

    // }


}