.footer-section {
    @media (max-width: $medium) {
        padding-bottom: 0 !important;
    }

    .footer-column-1 {
        width: 298px;

        img {
            width: 250px;
            height: 55px;

            @media (max-width: $medium) {
                width: 165px;
                height: 36px;
            }
        }

        @media (max-width: $medium) {
            width: 100%;
            margin-bottom: 20px !important;
        }
    }

    .footer-column-2 {
        width: 595px;
        color: $gray-color-4;
        font-size: 13px;
        line-height: 140%;
        
        margin-bottom: 20px !important;

        @media (min-width: $medium) {
            margin-left: initial;
            margin-left: 58px;
            max-width: 100%;
            font-size: 14px;
            line-height: 24px;
            color: $gray-color-3;
        }

        .title-bold {
            font-weight: 700;
            color: $secondary-color;

            @media (max-width: $medium) {
                color: $gray-color-3;
            }
        }

        .txt-copyright-block {
            @media (max-width: $medium) {
                margin-top: 10px !important;
            }
        }
    }

    .footer-column-3 {
        .row {
            margin-bottom: 16px;

            @media (max-width: $medium) {
                margin-bottom: 10px;
            }
        }

        @media (min-width: $medium) {
            margin-left: initial;
            margin-left: 90px;
        }

        .txt-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: $gray-color-2;
            position: relative;
            height: 100%;
            
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                right: 10%;
                border: 1px solid #dddddd;

                @media (max-width: $medium) {
                    height: 120%;
                }
            }

            @media (max-width: $medium) {
                font-size: 13px;
                line-height: 16px;
            }
        }

        .group-image {
            img {
                &:first-child {
                    @media (max-width: $medium) {
                        margin-right: 10px;
                    }
                }
            }
        }

        img {
            height: 34px;

            @media (max-width: $medium) {
                height: 30px;
            }
        }
    }
}