@charset "UTF-8";
/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); */
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body,
html {
  font-family: "pretendard", sans-serif;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.container {
  @media (min-width: 1400px) {
    max-width: 1392px;
  }
}

.bg {
  &-gray {
    &-6 {
      background-color: $gray-color-6;
    }

    &-7 {
      background-color: $gray-color-7;
    }
  }
}

.border-color-common-2 {
  border: 1px solid $border-color-2;
}


.custom-checkbox {
  height: 100%;
  display: flex;
  align-items: center;

  /* The container */
  .container-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 30px;
    font-size: 14px;
    line-height: 26px;

    @media (max-width: $medium) {
      font-size: 11px;
      padding-left: 25px;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    background-color: #eee;

    @media (max-width: $medium) {
      height: 15px;
      width: 15px;
    }
  }

  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked~.checkmark {
    background-color: $primary-color;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container-checkbox input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    @media (max-width: $medium) {
      left: 6px;
      top: 2px;
    }
  }
}

.font-weight-bold {
  font-weight: 700;
}

.custom-radio {
  margin-bottom: 4px;

  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    // margin-bottom: 12px;
    cursor: pointer;
    // font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;

    @media (max-width: $medium) {
      height: 20px;
      width: 20px;
    }
  }

  /* On mouse-over, add a grey background color */
  .container:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked~.checkmark {
    background-color: $primary-color;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked~.checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $white-color;

    @media (max-width: $medium) {
      top: 6px;
      left: 6px;
    }
  }
}

.txt-opacity {
  color: $gray-color-3;
  opacity: .7;
}

.txt-opacity-secondary {
  opacity: .78;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 40px;
  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translate(-50%, -50%);
}

.select2-container .select2-selection--single {
  height: 40px;
}

.select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--single,
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  border-radius: 0px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $gray-color-7;
  color: #282929;
}

.select2-container--default .select2-selection--single {
  border-color: $gray-color-6;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/icon_menu_mobile.svg");
  width: 24px;
  height: 24px;
}