.kira {
    &-title {
        font-size: 82px;
        line-height: 92px;
        color: $secondary-color;
        font-weight: 400;
        max-width: 676px;
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

        @media (max-width: $medium) {
            max-width: 191px;
            font-size: 44px;
            line-height: 50px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        }

        span {
            font-weight: 700;
        }
    }

    &-subtitle {
        margin-top: 40px;
        margin-bottom: 89px;
        max-width: 478px;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        color: $secondary-color;

        @media (max-width: $medium) {
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 274px;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &-btn-close {
        background-image: url(../images/x-white.svg) !important;
        background-repeat: no-repeat;
        background-color: black;
        border-radius: unset;
    }

    &-carousel-caption {
        &-a {
            position: absolute;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            top: 15%;
            left: 10%;

            @media (max-width: $medium) {
                left: 5%;
                top: 7%;
            }
        }

        &-b {
            position: absolute;
            bottom: 80px;
            text-align: center;
            width: 100%;
            padding: 0 10% 5%;
            display: none;

            @media (max-width: $extraLarge) {
                bottom: 40px;
            }

            @media (max-width: $small) {
                bottom: 50px;
                display: block;
                padding: 0 5%;
            }

            @media (min-width: $extraLarge) {
                display: block;
            }
        }
    }

    &-carousel-indicators {
        justify-content: unset;
        margin-left: unset;
        margin-bottom: unset;

        button {
            width: 80px !important;
            height: 4px !important;

            @media (max-width: $medium) {
                width: 20px !important;
            }
        }
    }
}

.slider-card {
    position: relative;
    height: 280px;
    max-width: 321px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.7);
        border: 1px solid rgba(0, 0, 0, 0.9);
    }

    @media (max-width: $medium) {
        width: 156px;
        height: 136px;
        margin-bottom: 1rem;
    }

    .group-info {
        position: absolute;
    }

    img {
        width: 84px;

        @media (max-width: $medium) {
            width: 60px;
        }
    }

    .title-box {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: $white-color;

        @media (max-width: $medium) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    .sub-title-box {
        font-size: 16px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.8);

        @media (max-width: $medium) {
            font-size: 11px;
            line-height: 16px;
        }
    }
}

@media (min-width: $extraLarge) {
    nav {
        .kira {
            &_nav {
                height: 90px;
            }
        }
    }
}

.collapsed {
    &-mb {
        padding-bottom: 1rem;
    }
}

div {
    &[aria-expanded="false"] {
        img {
            transform: rotate(-90deg);
            transition: 0.5s ease;
        }
    }

    &[aria-expanded="true"] {
        img {
            transform: rotate(0deg);
            transition: 0.5s ease;
        }
    }
}

.nav-item-kira {
    @media (min-width: $extraExtraLarge) {
        width: 210px;
    }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item .nav-link::after {
        content: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/* ============ desktop view .end// ============ */

.navbar-brand {
    z-index: 99;
    padding-left: 38px;

    @media (max-width: $medium) {
        margin-right: 0;
        padding-left: 0;
    }

    img {
        @media (max-width: $medium) {
            width: 165px;
            height: 36px;
        }
    }
}

.depth-menu {
    display: inherit;
    visibility: hidden;
    top: 70px;
    z-index: 9;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $gray-color-7;
    width: 100%;
    height: max-content;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition-property: bottom, opacity, visibility;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.75, 0.1, 0.25, 1);
    border-top: 1px solid $gray-color-6;

    @media (max-width: $large) {
        display: none;
    }

    &.open {
        bottom: -270px;
        opacity: 1;
        visibility: visible;
    }

    .submenu-block {
        padding-top: 40px;
        padding-bottom: 80px;

        ul {
            
            padding-left: 0;
            list-style: none;
            text-align: center;
            margin-bottom: 0;

            li {
                width: 210px;

                a {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 34px;
                    color: $gray-color-2;
                    text-decoration: none;

                    &:hover {
                        color: $primary-color;
                    }

                    &.active {
                        text-decoration-line: underline;
                        color: $primary-color !important;
                    }
                }
            }
        }
    }

    .fake-logo, .fake-right-content {
        opacity: 0;
    }
}

#navbarSupportedContent {
    z-index: 99;
}

.bg-color-white {
    background-color: $white-color;
}