.just-transition-block {
    h1 {
        margin-bottom: 40px;

        @media (max-width: $medium) {
            font-size: 24px;
            line-height: 140%;
            width: 300px;
            margin-bottom: 20px;
        }
    }

    .sub-title {
        max-width: 916px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 100px;
        font-size: 20px;
        line-height: 32px;
        color: $secondary-color;

        @media (max-width: $medium) {
            font-size: 15px;
            line-height: 160%;
            margin-bottom: 30px;
        }
    }

    .img-sub-title {
        width: 100%;
        margin-bottom: 160px;
        object-fit: cover;

        @media (max-width: $medium) {
            height: 370px;
            margin-bottom: 60px;
        }
    }

    .content-second {
        .content-block {
            @media (max-width: $medium) {
                font-size: 14px;
                line-height: 160%;
            }

            .expect-benefit-wrapper {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url('../images/img_expect_benefit_1.svg');
                    background-repeat: no-repeat;
                    left: -35%;
                    height: 100%;
                    max-width: 600px;
                    width: 100%;
                    top: 0;

                    @media (max-width: $medium) {
                        display: none;
                    }
                }
                
                &::after {
                    position: absolute;
                    content: "";
                    background-image: url('../images/img_expect_benefit_2.svg');
                    background-repeat: no-repeat;
                    right: -50%;
                    height: 100%;
                    max-width: 600px;
                    width: 100%;
                    top: 0;

                    @media (max-width: $medium) {
                        display: none;
                    }
                }
            }
        }
    }
}