.list-tabs {
    background-color: $gray-color-7;
    height: 60px;

    @media (max-width: $small) {
        max-width: 712px;
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .wrapper-list-tabs {
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;

        @media (max-width: $medium) {
            gap: 40px;
        }

        @media (max-width: $small) {
            width: 450px;
            justify-content: flex-start;
        }

        a {
            height: 100%;
            color: $gray-color-3;
            text-decoration: none;
            font-size: 16px;
            line-height: 28px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: $medium) {
                font-size: 14px;
                line-height: 24px;
                font-weight: 500;
            }

            @media (max-width: $small) {
                display: inline-flex;
                align-items: center;
                min-width: max-content;
            }

            &.active {
                color: $secondary-color;
                position: relative;

                &::before {
                    content: "";
                    border-bottom: 2px solid;
                    border-color: $secondary-color;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }
            }
        }
    }
}