.login-section {
    padding-top: 120px;
    padding-bottom: 167px;

    @media (max-width: $medium) {
        padding-top: 60px;
        padding-bottom: 113px;
    }

    .wrapper-form {
        max-width: 521px;
        margin: 0 auto;

        .form-login {
            max-width: 343px;
            margin: 0 auto;
        }
    }

    .title-form {
        margin-bottom: 80px;

        @media (max-width: $medium) {
            margin-bottom: 20px;
        }
    }

    .sub-title-form {
        margin: auto;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 24px;
        color: $gray-color-2;

        @media (max-width: $medium) {
            font-size: 13px;
            line-height: 160%;
            width: 300px;
        }
    }

    input, button {
        max-width: 343px;
        height: 48px;
    }

    .btn-submit-form {
        background-color: $primary-color;
        color: $white-color;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        @media (max-width: $medium) {
            font-size: 15px;
        }
    }

    a {
        color: $gray-color-2;
        text-decoration: none;

        &:hover {
            color: $primary-color;
        }
    }
}