#modalApply {
    .inputfile-box {
        position: relative;
    }

    .inputfile {
        display: none;
    }

    .container {
        display: inline-block;
        width: 100%;
    }

    .file-box {
        height: 100%;
        word-break: break-all;
        font-size: 15px;
        line-height: 18px;
        
        display: flex;
        align-items: center;

        &.placeholder-file {
            color: $gray-color-4;
        }
    }

    .file-button {
        background: red;
        padding: 5px;
        position: absolute;
        border: 1px solid;
        top: 0px;
        right: 0px;
    }

    .btn-survey {
        margin-top: 30px;
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        text-decoration: none;
        color: $white-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        background-color: $secondary-color;
    }

    .action-upload-btn {
        width: 73px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $dim-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: $secondary-color;
        cursor: pointer;

        @media (max-width: $medium) {
            width: max-content;
        }
    }

    .error-block {
        margin-bottom: 0;
        margin-top: 14px;
        color: $red-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        list-style: none;
        padding-left: 0;
    }

    .btn-cancel {
        color: $white-color;
        border: none;
        background-color: $gray-color-5;
    }

    .btn-submit {
        color: $white-color;
        border: none;
        background-color: $primary-color;
    }

    .action-download-block {
        p {
            font-size: 13px;
            line-height: 14px;
            color: $red-color;
            margin-bottom: 0;
        }
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: $gray-color-4;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $gray-color-4;
    }

    ::placeholder {
        color: $gray-color-4;
    }

    .modal-body {
        .col-form-label {
            @media (max-width: $medium) {
                font-size: 14px;
                line-height: 28px;
                color: $dim-color;
                width: 70px;
            }
        }
    }

    &.page-2-2 {
        .custom-radio {
            .container {
                padding-left: 25px;

                @media(max-width: $medium) {
                    font-size: 13px;
                    line-height: 140%;
                    padding-left: 20px;
                }

                .checkmark {
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }


        .action-download-block {
            .btn-survey {
                @media (max-width: $medium) {
                    width: 113px;
                    height: 36px;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 24px;
                }
            }

            p {
                @media (max-width: $medium) {
                    font-size: 11px;
                    line-height: 140%;
                    margin-left: -12px;
                }
            }
        }
        
        
    }
}