.modal-footer-custom {
    border-top: none;
    align-items: center;
    justify-content: center;

    button {
        width: 48%;
        height: 56px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;

        @media (max-width: $medium) {
            width: 45%;
            height: 46px;
            font-size: 16px;
            line-height: 24px;
        }
    }
}