#policyModal {
  .modal-custom-width {
    max-width: 678px;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-title-custom {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
    margin-bottom: 0;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #111111;
    margin-bottom: 24px;
  }

  .policy-content {
    font-size: 14px;
    line-height: 24px;
    color: $gray-color-3;
    
    ul {
      padding-left: 15px;

      .children-list {
        list-style: disc;
        padding-left: inherit;
      }
    }
  }
}