#exampleModal {
    .modal-header {
        a {
            color: rgba(0,0,0,.55);
            text-decoration: none;
        }
    }

    .modal-body {
        .item-menu-parent {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $secondary-color;
        }

        .card-body {
            padding: 15px;

            div {
                margin-bottom: 10px;
            }
        }

        a {
            color: rgba(0,0,0,.55);
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: $gray-color-2;
        }
    }
}