#modalSuccess {
  .modal-body-custom {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    color: $secondary-color;
  }

  .btn-close-modal {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    background: none;
    border: none;
    width: 80px;
    height: 50px;
  }
}