#text1Modal {
    .modal-header {
        border-bottom: unset;

        .modal-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: $dim-color;
        }
    }

    .modal-footer {
        border-top: unset;
    }

    .modal-body-custom {
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        line-height: 26px;
        color: $secondary-color;
        padding: 0;

        img {
            margin-bottom: 16px;
        }
    }

    .btn-close-modal {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        background: none;
        border: none;
        width: 80px;
        height: 50px;
    }
}