#findIdModal {
    input {
        height: 40px;
    }

    .btn-submit {
        width: 73px;
        height: 40px;
        background-color: $secondary-color;
        color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .error-block {
        margin-top: 4px;
        color: $red-color;
        list-style: none;
        font-size: 12px;
        line-height: 20px;
    }

    .success-block {
        margin-top: 18px;
        display: flex;
        align-items: center;
    }

    .btn-use-unique-id {
        font-size: 14px;
        line-height: 24px;
        color: $primary-color;
        text-decoration: none;
        width: 73px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
    }
}