.question-answer-block {
    .table-custom {
        tbody {
            tr {
                td {
                    color: $gray-color-2;
                    font-size: 16px;
                    line-height: 19px;
                    
                    @media (max-width: $medium) {
                        font-size: 14px;
                        line-height: 160%;
                        padding-bottom: 0;
                    }

                    &:last-child {
                        @media (max-width: $medium) {
                            width: auto;
                            padding-bottom: 8px;
                        }    
                    }
                }
            }
        }
    }

    .action-block {
        float: right;

        .btn-request-question {
            width: 60px;
            height: 60px;
            background-color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 50%;
        }
    }
    
    .pagination-block {
        margin-top: 200px;
    }
}

.question-answer-form-block {
    .title-form {
        margin-bottom: 12px;
        padding-left: 0;
        padding-right: 0;

        h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #231815;
            margin-bottom: 0;
           
        }
    
        .sub-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: #202020;
        }
    }

    .table-block {
        @media (max-width: $medium) {
            padding-left: 15px;
            padding-right: 15px;
        }

        .table-custom {
            margin-top: 0;

            tbody {
                tr {
                    td {
                        color: $gray-color-2;
                        font-size: 16px;
                        line-height: 19px;
                        
                        @media (max-width: $medium) {
                            font-size: 14px;
                            line-height: 160%;
                        }
    
                        &:last-child {
                            @media (max-width: $medium) {
                                width: auto;
                            }    
                        }
                    }
                }
            }
        }

        .description-table {
            margin-top: -10px;
            font-size: 16px;
            line-height: 19px;
            color: #202020;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 60px;
        }
    }
    
    .radio-block {
        width: 570px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $medium) {
            display: block;
            width: 100%;
        }

        .custom-radio {
            .container {
                font-weight: 400;
                font-size: 16px;
            }

            .checkmark {
                height: 24px;
                width: 24px;
                top: 2px;

                &::after {
                    top: 8px;
                    left: 8px;
                }
            }
        }
    }
    
    .btn-submit-form {
        margin-top: 123px;

        @media (max-width: $medium) {
            margin-top: 80px;
        }
    }

    .txt-red-color {
        color: #F16C33;
    }
}

.question-answer-detail {
    .action-block {

        @media (max-width: $medium) {
            padding-left: 15px;
            padding-right: 15px;
        }

        .wrapper-textarea {
            padding-left: 0;
            padding-right: 0;
            width: calc(100% - 130px);

            @media (max-width: $medium) {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        textarea {
            height: 120px;
            width: 100%;
            border: none;
        }

        .btn-submit-question {
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: $primary-color;
            color: $white-color;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;

            @media (max-width: $medium) {
                height: 60px;
                margin: 0 auto;
            }
        }
    }

    .content-block-action {
        padding-top: 36px;
        padding-bottom: 36px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #212222;

        .icon-arrow-block {
            text-align: right;
            margin-left: -30px;

            @media (max-width: $medium) {
                display: none;
            }
        }

        .description {
            max-width: 1079px;
            width: 100%;
        }

        .action-component {
            display: flex;
            width: fit-content;
            margin-left: auto;

            @media (max-width: $medium) {
                margin-left: unset;
                margin-top: 15px;
            }

            .info {
                width: 100%;

                .title {
                    color: $gray-color-4;
                }
    
                .date {
                    margin-left: 15px;
                    color: #5A5B5D;
                }

                .bagde-item {
                    margin-top: 10px;
                    margin-left: auto;
                    width: 85px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $primary-color;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: $primary-color;
                    border-radius: 27px;
                    text-align: center;
                    pointer-events: none;

                    @media (max-width: $medium) {
                        margin-left: unset;
                    }
                }
            }
        }
    }

    .wrapper-detail {
        border-bottom: none;
    }
}