.register-section {
    padding-top: 120px;
    padding-bottom: 200px;

    @media (max-width: $medium) {
        padding-top: 60px;
        padding-bottom: 121px;
    }

    .btn-modal-find-id {
        width: 97px;
        height: 40px;
        background-color: $secondary-color;
        color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: 14px;
        line-height: 24px;
    }

    .btn-policy-modal {
        margin-left: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: $primary-color;
        text-decoration: none;

        @media (max-width: $medium) {
            font-size: 11px;
        }
    }

    .btn-submit-form {
        height: 48px;
        width: 343px;
        background-color: $primary-color;
        color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-top: 80px;

        @media (max-width: $medium) {
            font-size: 15px;
        }
    }

    .border-top, .border-2, .border-dark, .border-bottom {
        @media (max-width: $medium) {
            border: none;
            border-width: unset;
            border-top: unset !important;
            border-bottom: unset !important;
        }
    }

    .input-group-text {
        @media (max-width: $medium) {
            padding-left: 4px;
            padding-right: 4px;
        }
    }

    .wrapper-label {
        @media (max-width: $medium) {
            background-color: unset;
        }

        .col-form-label {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: #202020;

            @media (max-width: $medium) {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color:  $secondary-color;
            }

        }
    }

    .mobile-padding-y-0 {
        @media (max-width: $medium) {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .mobile-border-none {
        @media (max-width: $medium) {
            border: none;
        }
    }
}