.support-project-information-block {
    margin-top: 140px;

    @media (max-width: $medium) {
        margin-top: 70px;
    }

    h1 {
        margin: 0 auto;
        text-align: center;
        max-width: 716px;
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        color: $secondary-color;
        margin-bottom: 111px;

        @media (max-width: $medium) {
            font-size: 24px;
            line-height: 140%;
            color: $dim-color;
            max-width: 300px;
            margin-bottom: 40px;
        }

        span {
            color: $primary-color;
        }
    }

    .sub-description {
        background-color: $gray-color-7;
        height: 144px;
        font-size: 18px;
        line-height: 32px;
        color: $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        
        @media (max-width: $medium) {
            padding: 20px;
            height: 145px;
            font-size: 14px;
            line-height: 150%;
        }

        .text {
            max-width: 916px;
            padding: 0 auto;
        }
    }

    .content-second {
        margin-bottom: 140px;

        @media (max-width: $medium) {
            margin-bottom: 40px;
        }

        .title-block {
            margin-bottom: 10px;
        }

        .content-block {
            font-size: 16px;
            line-height: 28px;
            max-width: unset;

            .target-block {
                .left-content {
                    font-size: 16px;
                    line-height: 28px;
                }

                .right-content {
                    font-size: 15px;
                    line-height: 26px;
                    background-color: $gray-color-7;
                    padding: 16px;
                }

                p {
                    margin-bottom: 0;
                }
            }

            .overflow-horizon {
                @media (max-width: $medium) {
                    overflow-x: auto;
                }

                img {
                    @media (max-width: $medium) {
                        width: 557px;
                    }
                }
            }

            @media (max-width: $medium) {
                font-size: 14px;
                line-height: 160%;
            }
        }
    }
}

.support-project-information-action {
    background-color: $primary-color;
    height: 356px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $medium) {
        height: 240px;
    }

    .btn-action {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 650px;
        height: 72px;
        color: $white-color;
        font-size: 18px;
        line-height: 32px;
        border: 1px solid $white-color;
        text-decoration: none;
        position: relative;

        @media (max-width: $medium) {
            width: 328px;
            height: 64px;
            font-size: 16px;
            line-height: 150%;
            padding: 8px 56px 8px 16px;
            text-align: center;
        }

        &.btn-download {
            @media (max-width: $medium) {
                height: 56px;
                padding: 17px 56px 16px 16px;
                font-size: 15px;
                line-height: 150%;
            }

            &::after {
                content: "";
                background-image: url('../images/icon_download.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 24px;
                height: 24px;
                right: 24px;
                position: absolute;
            }
        }

        &.btn-apply {
            background-color: $white-color;
            color: $primary-color;
            font-weight: 700;
            padding: 0;

            @media (max-width: $medium) {
                height: 48px;
                font-weight: 700;
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
}