.table-schedule-program {
    tbody {
        td {
            &:first-child {
                @media (max-width: $medium) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }

            &:nth-child(2) {
                @media (max-width: $medium) {
                    padding-top: 0;
                    padding-bottom: 6px;
                }
            }

            &:nth-child(3) {
                @media (max-width: $medium) {
                    padding-top: 0;
                    padding-bottom: 20px;
                }
            }

            &:last-child {
                @media (max-width: $medium) {
                    padding-top: 0;
                    padding-bottom: 28px;
                }
            }
        }
    }

    button {
        border-radius: unset;
        width: 73px;
        height: 40px;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        padding: 0;

        @media (max-width: $medium) {
            font-size: 0.9rem;
            width: 60px;
            height: 35px;
        }
    }
}