.table-list {
    margin-top: 140px;

    @media (max-width: $medium) {
        margin-top: 70px;
    }

    .filter-block {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .total-record-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #111111;

            @media (max-width: $medium) {
                display: none;
            }
        }

        .action-block {
            display: flex;
            align-items: center;
            justify-content: end;


            .dropdown-block {
                select {
                    width: 120px;
                    height: 40px;
                    border: 1px solid $border-color-2;
                    border-radius: unset;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 26px;
                    background-image: url("../images/icon_dropdown.svg");
                    background-repeat: no-repeat;
                    color: #282929;
                    
                    @media (max-width: $medium) {
                        width: 90px;
                    }
                }
            }

            input {
                border: 1px solid $border-color-2;
                width: 240px;
                height: 40px;
                margin-left: 8px;
                padding: 11px 0 11px 16px;

                @media (max-width: $medium) {
                    width: 170px;
                }
            }

            button {
                color: $white-color;
                width: 100px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $primary-color;
                outline: none;
                font-weight: 800;
                font-size: 14px;
                line-height: 17px;
                border: none;
                margin-left: 8px;

                @media (max-width: $medium) {
                    width: 60px;
                }
            }
        }
    }

    .table-custom {
        margin-top: 20px;

        @media (max-width: $medium) {
            --bs-table-hover-bg: unset;
        }

        thead {
            background-color: $gray-color-7;
            height: 64px;
            vertical-align: middle;
            
            @media (max-width: $medium) {
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                color: $secondary-color;
                display: inherit;
                width: 100%;
            }
        }

        tbody {
            tr {
                height: 64px;
                vertical-align: middle;

                @media (max-width: $medium) {
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    align-items: flex-start;
                    border-bottom: 1px solid $gray-color-6;
                }

                td {
                    @media (max-width: $medium) {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 160%;
                        border: none;

                        &:last-child {
                            width: 100%;
                        }
                    }

                    &.has-text {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        color: $primary-color;

                        @media (max-width: $medium) {
                            font-size: 14px;
                            line-height: 160%;
                        }
                    }

                    &.has-number {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #777777;

                        @media (max-width: $medium) {
                            font-size: 14px;
                            line-height: 160%;
                        }
                    }

                    &.has-attachment {
                        position: relative;

                        img {
                            position: absolute;
                            margin-left: 10px;
                            width: 24px;
                            height: 24px;
                            object-fit: contain;
                            object-position: center;
                        }
                    }

                    a {
                        color: $secondary-color;
                        text-decoration: underline;
                    }

                    ul {
                        margin-bottom: 0;
                    }

                    .btn-action {
                        margin: 0 auto;
                        width: 124px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 24px;
                        color: $white-color;
                        border: none;
                        background-color: $primary-color;
                        text-decoration: none;

                        @media (max-width: $medium) {
                            width: 100px;
                            height: 34px;
                        }
                    }
                }
            }

            .visible-on-mobile {
                display: none;

                @media (max-width: $medium) {
                  display: inline-block;
                  padding-left: 8px;
                }
            }

            .visible-on-pc {
                display: table-cell;

                @media (max-width: $medium) {
                    display: none;
                }
            }

            .display-flex-for-mobile {
                @media (max-width: $medium) {
                    display: flex;
                }
            }

            .txt-left-for-mobile {
                @media (max-width: $medium) {
                    text-align: left !important;
                }
            }
        }
    }

    .pagination-block {
        margin-bottom: 200px;
        margin-top: 140px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $medium) {
            margin-bottom: 100px;
            margin-top: 70px;
        }

        .page-item {
            padding-left: 10px;
            padding-right: 10px;
            outline: none;
            border: none;
            border-color: $gray-color-3;

            @media (max-width: $medium) {
                padding-left: 5px;
                padding-right: 5px;
            }

            a {
                text-decoration: none;
            }

            .page-link {
                color: #111111;
            }

            &.active {
                .page-link {
                    background-color: $gray-color-3 !important;
                    opacity: .9;
                    color: $white-color;
                    border-color: unset;
                }
            }

            .disabled {
                pointer-events: none;
                opacity: 0.7;
            }
        }

        .page-link-custom {
            width: 48px;
            height: 48px;

            justify-content: center;
            display: flex;
            align-items: center;

            @media (max-width: $medium) {
                width: 40px;
                height: 40px;
            }
        }
    }
}