.trainning-gallery-detail {
    margin-top: 140px;

    @media (max-width: $medium) {
        margin-top: 70px;
    }

    .content-first {
        margin-bottom: 80px;
        margin-left: 0;
        margin-right: 0;

        @media (max-width: $medium) {
            margin-bottom: 40px;
        }
    
        .item {
            margin-bottom: 0;

            @media (max-width: $medium) {
                margin-bottom: 20px;
            }

            .image-block {
                &:hover {
                    pointer-events: none;
                }

                @media (max-width: $medium) {
                    margin-bottom: 0;
                }

                img {
                    height: 380px;

                    @media (max-width: $medium) {
                        height: 100%;
                    }
                }
            }
        }

        .pl-46-pc {
            padding-left: calc(70px - 24px);

            @media(max-width: $medium) {
                padding-left: 12px;
            }
        }
    }

    h2 {
        margin-bottom: 42px;
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        color: #161618;

        @media (max-width: $medium) {
            font-size: 22px;
            line-height: 150%;
            margin-bottom: 20px;
        }
    }

    .info {
        .info-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 10px;

            @media (max-width: $medium) {
                margin-bottom: 2px;
            }

            span {
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                color: $secondary-color;

                @media (max-width: $medium) {
                    font-size: 14px;
                    line-height: 160%;
                }

                &:nth-child(1) {
                    min-width: 80px;

                    @media (max-width: $medium) {
                        min-width: 60px;
                    }
                }

                &:nth-child(2) {
                    font-weight: 400;
                    color: $gray-color-2;
                    margin-left: 83px;

                    @media (max-width: $medium) {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    hr {
        color: $secondary-color;
        height: 1px;
        margin-bottom: 40px;

        @media (max-width: $medium) {
            margin-top: 0;
        }
    }

    .content-second {
        margin-bottom: 80px;

        @media (max-width: $medium) {
            margin-bottom: 40px;
        }

        .title-block {
            padding: 0;
            display: flex;
            align-items: center;
            margin-bottom: 47px;

            @media (max-width: $medium) {
                margin-bottom: 20px;
            }

            img {
                @media (max-width: $medium) {
                    width: 20px;
                    height: 20px;
                }
            }

            h3 {
                margin-left: 10px;
                font-weight: 700;
                font-size: 28px;
                line-height: 38px;
                margin-bottom: 0;
                color: #161618;

                @media (max-width: $medium) {
                    margin-left: 4px;
                    font-size: 18px;
                    line-height: 150%;
                }
            }
        }

        .content-block {
            max-width: 610px;
            font-size: 18px;
            line-height: 30px;
            color: #231815;

            @media (max-width: $medium) {
                font-size: 15px;
                line-height: 160%;
            }
        }
    }

    .content-third {
        margin-bottom: 0;

        &.table-list {
            @media (max-width: $medium) {
                margin-top: 0;
            }
        }

        .title-block {
            padding: 0;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            img {
                @media (max-width: $medium) {
                    width: 20px;
                    height: 20px;
                }
            }

            h3 {
                margin-left: 10px;
                font-weight: 700;
                font-size: 28px;
                line-height: 38px;
                margin-bottom: 0;
                color: #161618;

                @media (max-width: $medium) {
                    margin-left: 4px;
                    font-size: 18px;
                    line-height: 150%;
                }
            }
        }

        .content-block {
            margin-bottom: 60px;
        }
    }

    .action-block {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        a {
            width: 200px;
            height: 48px;
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;

            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            text-decoration: none;

            &.btn-list {
                color: $secondary-color;
                background: $white-color;
                border: 1px solid $secondary-color;
            }
        }

        .btn-apply {
            color: $white-color;
            background: $primary-color;
            border: none;
        }
    }
}