.trainning-gallery-list {
    margin-top: 140px;

    @media (max-width: $medium) {
        margin-top: 70px;
    }

    .item {
        text-decoration: none;
        margin-bottom: 100px;

        .image-block {
            img {
                &:hover {
                    background-color: $dim-color;
                    width: 100%;
                    height: 100%;
                    opacity: .2;
                    transition: 0.4s ease;
                }
            }
        }

        // &:visited {
        //     h3 {
        //         color: $gray-color-4;
        //     }

        //     .image-block {
        //         img,
        //         span {
        //             opacity: .4;
        //         }
        //     }

        //     .info-block {
        //         .content {
        //             font-size: 16px;
        //             line-height: 26px;
        //             color: $gray-color-5;

        //             span {
        //                 &:nth-child(2) {
        //                     margin-left: 20px;
        //                 }
        //             }
        //         }
        //     }
        // }

        @media (max-width: $medium) {
            margin-bottom: 60px;
        }

        a {
            text-decoration: none;
        }

        .image-block {
            position: relative;
            margin-bottom: 32px;

            @media (max-width: $medium) {
                margin-bottom: 21px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            span {
                position: absolute;
                content: "";
                width: 70px;
                height: 56px;
                top: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white-color;
                background-color: $gray-color-4;

                @media (max-width: $medium) {
                    width: 52px;
                    height: 42px;
                }

                &.active {
                    background-color: $primary-color !important;
                }
            }

            .opacity-img {
                opacity: .4;
            }
        }

        h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 10px;
            color: #161618;

            @media (max-width: $medium) {
                font-size: 16px;
                line-height: 170%;
                margin-bottom: 8px;
            }

            &:hover {
                text-decoration: underline !important;
            }

            &.txt-gray-color {
                color: $gray-color-4 !important;
            }
        }

        .info-block {
            &.title-weight {
                span {
                    &:nth-child(1) {
                        color: $gray-color-2;
                    }
                }
            }

            .content {
                font-size: 16px;
                line-height: 26px;
                color: $gray-color-2;

                @media (max-width: $medium) {
                    font-size: 14px;
                    line-height: 160%;
                }

                span {
                    &:nth-child(2) {
                        margin-left: 20px;
                    }
                }
            }
        }

        .txt-red-color {
            color: $red-color !important;
        }
    }

    .pagination-block {
        margin-top: 20px !important;
    }
}