$primary-color: #006e78;
$secondary-color: #222222;

$white-color: #ffffff;

$sub-color-1: #5793bc;
$sub-color-2: #59b3b2;
$sub-color-4: #84ddb4;

$dim-color: #000000;

//color border
$boder-color-1: #222222;
$border-color-2: #dddddd;
$border-color-3: #f8f8f8;

//color red
$red-color: #f63024;

//color gray
$gray-color-1: #222222;
$gray-color-2: #444444;
$gray-color-3: #666666;
$gray-color-4: #999999;
$gray-color-5: #bbbbbb;
$gray-color-6: #dddddd;
$gray-color-7: #f8f8f8;
$gray-color-8: #ffffff;

//breakpoints
$extraSmall: 300px;
$small: 576px;
$medium: 900px;
$large: 992px;
$extraLarge: 1200px;
$extraExtraLarge: 1400px;
